<%- include("partials/header.ejs") %>


<main>
<section>
    <a href="/">    
        <h1>Bookshelf</h1>
    </a>

    <form action="/submit" method="POST">
        <input type="text" name="input" placeholder="Search for a book">
        <button type="submit">Add new book</button>
    </form>

</section>

<section class="google-books-wrapper">
    <% if (locals.searchBooks) { %>
        <% searchBooks.forEach(book => { %>
            <div class="google-book">
                <p> <%= book.title %></p>
                <p> <%= book.authors %></p>
                <a href="/new-book/<%=book.isbn%>">
                    <img src="<%= book.cover %>" alt="Book cover">
                </a>
                <p> <%= book.isbn %></p>
            </div>

        <% }); %>
    <% } %>

</section>

<section class="bookshelf">
        <h2>My books</h2>
        <% if (locals.bookshelf) { %>
        <% bookshelf.forEach(book => { %>
            <div class="shelf-book">
                <p> <%= book.title %></p>
                <p> <%= book.author %></p>
                <img src="<%= book.cover_url %>" alt="Book cover">
                <p> <%= book.isbn %></p>
                <p> <%= book.date_added %></p>
            </div>
        <% }); %>
    <% } %>
</section>

</main>




<%- include("partials/footer.ejs") %>
