<%- include("partials/header.ejs") %>


<main>
<section>
    <h1>Bookshelf</h1>

    <form action="/submit" method="POST">
        <input type="text" name="input" placeholder="Find a book">
        <button type="submit">Submit</button>
    </form>
</section>

<section class="google-books-wrapper">
    <% if (locals.searchBooks) { %>
        <% searchBooks.forEach(book => { %>
            <div class="google-book">
                <p> <%= book.title %></p>
                <p> <%= book.authors %></p>
                <a href="/new-book/<%=book.isbn%>">
                    <img src="<%= book.cover %>" alt="Book cover">
                </a>
                <p> <%= book.isbn %></p>
            </div>

        <% }); %>
    <% } %>

</section>

</main>




<%- include("partials/footer.ejs") %>
