<%- include("partials/header.ejs") %>


<main>
<section>
    <a href="/">    
        <h1>Bookshelf</h1>
    </a>

    <form class="google-search" action="/submit" method="POST">
        <input type="text" name="input" placeholder="Search for a book">
        <button class="btn" type="submit">Add new book</button>
    </form>

</section>

<section class="google-books-wrapper">
    <div class="google-bookshelf">
        <% if (locals.searchBooks) { %>
            <% searchBooks.forEach(book => { %>
                <div class="google-book book">
                    <p> <%= book.title %></p>
                    <p> <%= book.authors %></p>
                    <a href="/new-book/<%=book.isbn%>">
                        <img src="<%= book.cover %>" alt="Book cover">
                    </a>
                    <p> <%= book.isbn %></p>
                </div>

            <% }); %>
        <% } %>
    </div>
</section>

<section class="bookshelf-wrapper">
    <h2>My books</h2>
    <div class="bookshelf">
        <% if (locals.bookshelf) { %>
        <% bookshelf.forEach(book => { %>
            <div class="shelf-book book">
                <h3 class="title"> <%= book.title %></h3>
                <p class="author"> <%= book.author %></p>
                <img src="<%= book.cover_url %>" alt="Book cover" class="book-cover">
                <p class="isbn"> <%= book.isbn %></p>
                <p class="date"> <%= book.date_added.toLocaleDateString() %></p>
                <form action="/delete-book" method="post">
                    <input type="hidden" name="isbn" value="<%= book.isbn %>">
                    <button class="btn delete-btn">Delete</button>
                </form>
            </div>
        <% }); %>
    <% } %>
    </div>
</section>

</main>




<%- include("partials/footer.ejs") %>
